body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 9pt;
}

div.main {
    margin: 10px 10px 0 10px;
    border: 2px solid green;
    background-color: aqua;
    position: relative;
    display: flex;
}

div.list {
    background-color: bisque;
    flex: 0 0 29%;
    max-height: 70px;
}

div.text {
    margin: 0 0 0 2%;
    flex: 0 0 69%;
    background-color: darkgray;
}

@media (max-width: 800px) {
    div.main {
        flex-direction: column;
        margin: 10px 10px 0 10px;
        border: 2px solid green;
        background-color: aqua;
        position: relative;
        display: flex;
    }

    div.list {
        background-color: bisque;
        max-width: 30%;
    }

    div.text {
        margin: 0;
        background-color: darkgray;
        max-width: 70%;
    }
}
